.container {
  display: grid;
  grid-template-columns: repeat(16, auto);
  background-color: dodgerblue;
  padding: 10px;
  justify-content: start;
}

.tile-hidden {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.tile-nothing {
  background-color: #000000
  border: 1px solid gray;
  padding: 20px;
  text-align: center;
}


.tile-x {
  background-color: #ff0000;
  border: 1px solid gray;
  padding: 20px;
  text-align: center;
}

