.container {
  display: grid;
  grid-template-columns: repeat(16, auto);
  background-color: dodgerblue;
  padding: 10px;
  justify-content: start;
}

.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
